name: ci
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
permissions: {}
defaults:
  run:
    shell: bash -euo pipefail {0}
jobs:
  build-macos:
    runs-on: macos-26
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.1.1.app
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5.0.3
        with:
          path: |
            ~/Library/Caches/org.swift.swiftpm
            ~/Library/org.swift.swiftpm
            ~/.swiftpm
            .build
          key: ${{ runner.os }}-swiftpm-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-swiftpm-
      - run: xcrun swift --version
      - run: xcrun swift build
  build-ios:
    runs-on: macos-26
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.1.1.app
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5.0.3
        with:
          path: |
            ~/Library/Caches/org.swift.swiftpm
            ~/Library/org.swift.swiftpm
            ~/.swiftpm
            .build
          key: ${{ runner.os }}-ios-swiftpm-${{ hashFiles('Package.resolved') }}
          restore-keys: ${{ runner.os }}-ios-swiftpm-
      - run: xcrun swift --version
      - run: xcrun swift build --sdk "$(xcrun --sdk iphoneos --show-sdk-path)" --triple arm64-apple-ios
  build-sample-app:
    runs-on: macos-26
    env:
      DEVELOPER_DIR: /Applications/Xcode_26.1.1.app
    permissions:
      contents: read
    defaults:
      run:
        working-directory: ./Example.swiftpm
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306  # v5.0.3
        with:
          path: |
            ~/Library/Caches/org.swift.swiftpm
            ~/Library/org.swift.swiftpm
            ~/.swiftpm
            Example.swiftpm/.derivedData
          key: ${{ runner.os }}-xcode-26.1.1-${{ hashFiles('Example.swiftpm/Package.resolved') }}
          restore-keys: ${{ runner.os }}-xcode-26.1.1-
      - run: xcodebuild -version
      - run: xcodebuild build -scheme Example -destination "platform=iOS Simulator,name=iPad Pro 13-inch (M5),OS=26.1" -derivedDataPath ./.derivedData -quiet -showBuildTimingSummary
  lint:
    runs-on: ubuntu-24.04-arm
    container: swift:6.2
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: swift format lint -rsp .
  yamllint:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
      - run: yamllint --version
      - run: yamllint --strict --config-file .yamllint.yml .
